name: CI-CD_Intro
on:
  push:
    branches: 
      main
jobs:
  build:
    runs-on: ubuntu-latest  
    steps:
      - name: System name
        run: cat /etc/os-release
      - name: Kernel version
        run: uname -r
    
